// use color
@use "./colors" as *;
// use mixins
@use "./mixins" as *;

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    border: none;
    outline: none;
    text-decoration: none;

}
html,body{
     background: $LightGrayishCyanBackground;
}
.container{
    max-width: 375px;
    margin-inline: auto;
    width: 88%;
    @include desktop{
        max-width: 1440px;
        width: 70%;
        margin-inline: auto;
    }
}